.db_body{
	display: flex;
	flex-direction: column;
	min-height: 300vh;
}
/*最上层header*/
header{
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #545652;
}
header a{
	margin: 0px 10px 0px 10px ;
	font-size: 12px;
	color: #FFFFFF;
	opacity: 0.65;
}
header a:hover{
	opacity: 1;
}
/*中间主要内容区*/
main{
	flex: 100;
	display: flex;
	justify-content: center;
}
/*公用宽度*/
.mid{
	width: 950px;
	display: flex;
	border: 1px solid red;
	flex-direction: column;
	justify-content: space-between;
}
.nav{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #F0F3F5;
}
.nav_left{
	flex: 8;
	display: flex;
	flex-direction: column;
}
.nav_left_top{
	display: flex;
	align-items: center;
}
.word_icon{
	line-height: 56px;
	background: url(https://img3.doubanio.com/f/shire/81252980276323482cf7ec03df52a5c5eb98f6d3/pics/nav/lg_movie_a12_2.png) center center no-repeat;
	background-size: contain;
	display: block;
	width: 145px ;
	height: 30px;
}
.search{
	height: 31px;
	margin: 15px 0px 15px 30px;
	width: 500px;
	display: flex;
	box-shadow: 1px 1px darkgray;
}
.search_text{
	border: none;
	outline: medium;
	flex: 8;
}
.search_text:focus{
	border: none;
	border-style: none;
}
.search_button{
	display: block;
	width: 37px;
	height: 35px;
	background: url(https://img3.doubanio.com/f/shire/44552ac9f592ad9d2ef5c8ae708533990e94b605/pics/nav1/nav_mv_bg.png) left bottom no-repeat ;
}
.nav_left_bottom{
	flex: 1;
	margin: 10px 0px 0px 0px;
}
.nav_left_bottom a{
	flex: 1;
	margin-right: 20px;
	color: #3377AA;
}
.nav_left_bottom a:hover{
	background: #3377AA;
	color: #FFFFFF;
}
.nav_right{
	flex: 1.5;
}
.year_movie{
	display: block;
	width: 190px;
	height: 120px;
	background: url(https://img3.doubanio.com/f/movie/9f89b66fd864158832aa65002525bb34fb029a56/pics/movie/events/annual2016/ad_web.png)center center no-repeat;
	background-size: contain;
}
.content{
	flex: 14;
	display: flex;
}
.content_left{
	border: 1px solid red;
	width: 590px;
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}
.hot_movie{
	margin-top: 42px;
	height: 320px;
	border: 1px solid red;
}
.hot_movie_top{
	height: 20px;
	display: flex;
	justify-content: space-between;
}
.hot_top_left a{
	margin-left: 10px;
	font-size: 10px;
	color: #3377AA;
}
.hot_top_left a:hover{
	background: #3377AA;
	color: #FFFFFF;
}
.hot_top_right{
	display: flex;
}
.num_left{
	display: block;
	width: 18px;
	height: 18px;
	margin-left: 10px;
	margin-right: 5px;
	background: url(https://img3.doubanio.com/f/movie/708be21a7bb2d0f21419dc4e2e2fde8b21ad661a/pics/movie/slide_swithc_2.png)left top no-repeat;
}
.num_right{
	display: block;
	width: 18px;
	height: 18px;
	background: url(https://img3.doubanio.com/f/movie/708be21a7bb2d0f21419dc4e2e2fde8b21ad661a/pics/movie/slide_swithc_2.png)right top no-repeat;
}
.hot_movie_bottom{
	height: 300px;
	width: 588px;
	display: flex;
	overflow: hidden;
	position: relative;
}
.cf1,.cf2,.cf3,.cf4,.cf5{
	width: 588px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.cf1{
}
.cf2{
}
.cf3{
}
.cf4{
}
.cf5{
}
.hot_pic{
	display: block;
	float: left;
	width: 128px;
	height: 300px;
	margin: 0px 0px 0px 17px;
}
.content_right{
	flex: 1;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	border: 1px solid red;
}
/*nav{
	flex: 1;
	display: flex;
	background: #F0F3F5;
	height:14px
}
.nav_left{
	border: 1px solid red;
	flex: 4;
	justify-content: flex-end;
	display: flex;
	align-items: center;
}
.common_width{
	border: 1px solid darkblue;
	width: 950px;
	justify-content: space-between;
	display: flex;
	align-items: center;
}
.nav_left_left{
	flex: 0;
	display: flex;
	flex-direction: column;
}
.nav_ll_top{
	width: 660px;
	display: flex;
	flex: 3;
	align-items: center;
	justify-content: flex-start;
}
.word_icon{
	line-height: 56px;
	flex: 1.8;
	background: url(https://img3.doubanio.com/f/shire/81252980276323482cf7ec03df52a5c5eb98f6d3/pics/nav/lg_movie_a12_2.png) center center no-repeat;
	background-size: contain;
	display: block;
	width: 145px ;
	height: 56px;
}
.search{
	height: 31px;
	margin: 15px 0px 15px 30px;
	flex: 8;
	display: flex;
	box-shadow: 1px 1px darkgray;
}
.search_text{
	
	border: none;
	outline: medium;
	flex: 8;
}
.search_text:focus{
	border: none;
	border-style: none;
}
.search_button{
	display: block;
	width: 37px;
	height: 35px;
	background: url(https://img3.doubanio.com/f/shire/44552ac9f592ad9d2ef5c8ae708533990e94b605/pics/nav1/nav_mv_bg.png) left bottom no-repeat ;
}
.nav_ll_bottom{
	flex: 1;
	margin: 10px 0px 4px 0px;
}
.nav_ll_bottom a{
	flex: 1;
	margin-right: 20px;
	color: #3377AA;
}
.nav_ll_bottom a:hover{
	background: #3377AA;
	color: #FFFFFF;
}
.nav_left_right{
	flex: 0;
}
.year_movie{
	display: block;
	width: 190px;
	height: 90px;
	background: url(https://img3.doubanio.com/f/movie/9f89b66fd864158832aa65002525bb34fb029a56/pics/movie/events/annual2016/ad_web.png)no-repeat;
	background-size: 100% 100%;
	background-size: cover;
}
.nav_right{
	flex: 0.8;
}*/


footer{
	flex: 5;
}
